# 服务器配置
server:
  port: 8080
  servlet:
    context-path: /

# 文件上传配置
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  # Thymeleaf配置
  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .html

# 自定义配置
file:
  upload:
    path: ./src/main/resources/static/uploads/